## exportPattern("^[[:alpha:]]+")


export(pvar, Sum_p, pvarMon, Split_MinMax, Split_MinMax_req, ChangePointsId, rbridge, rwiener, MovingSum, "%.%", 
	FindAnalysingPoints, FindAnalysingPointsOP, DropMidAllB, DropMidAll, SplitByExtremum)

export(MergePvar, PvarSubset, Add2Pvar, AddPvar)	
	
S3method(print, pvar)
S3method(plot, pvar)

S3method(summary, pvar)
S3method(print, summary.pvar)

S3method(Ops, pvar)
## S3method(sum, pvar)

export(PvarBreakTest, BBT, BreakPoints,PvarQuantile, PvarPvalue, getMean, getSd, NormalisePvar)

S3method(print, PvarBreakTest)
S3method(plot, PvarBreakTest)

S3method(summary, PvarBreakTest)
S3method(print, summary.PvarBreakTest)
 



